
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Crud</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/tasks_completed">Tasks completed</a>
      </li>
      <li>
        <a href="/tasks">Tasks Pendientes</a>
      </li>

      {% if user.is_authenticated %}
      <li>
        <a href="/logout">Logout</a>
      </li>
      <li>
        <a href="/create/task/">Create task</a>
      </li>
      {% else %}
      <li>
        <a href="/signup">Signup</a>
      </li>
      <li>
        <a href="/signin">Signin</a>
      </li>
      {% endif %}

    </ul>
  </nav>
  
	{% block content %}
	{% endblock %}
  </body>
</html>
